.Main {
    width: 100%;

    & .Projects {
        display: flex;
        justify-content: center;
        width: 100%;

        @media (max-width: 800px) {
            flex-wrap: wrap;
            & > * {
                width: 80%;

            }
        }
    }
}