.ShareBtn {
  background: none;
  border: none;
  background-color: var(--mainColor1);
  color: var(--mainColor2);
  padding: 10px;
  cursor: pointer;
  margin: 15px 0;
  font-size: 20px;
  border: 1px solid transparent;
}

.ShareBtn:hover,
.ShareBtn:focus {
  border-color: var(--mainColor2);
}
