.PostTemplate {
  padding: 40px 0;
  border-bottom: 1px solid var(--midMainColor1);
  margin-bottom: 30px;

  &:hover {
    border-color: var(--mainColor2);
    // background-color: rgba(255, 255, 255, 0.05);
  }

  & h2 {
    color: white;
    margin-bottom: 0;
  }

  & .Date {
    font-family: var(--sec-font);
    opacity: 0.7;
    font-weight: 500;
    font-size: 18px;
    color: white;
  }

  & .Excerpt {
    font-size: 20px;
  }

  & p {
    color: white;
  }
}

.TagsSection {
  display: flex;
  flex-wrap: wrap;

  & .Tag {
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 0 5px;
    font-size: 16px;
    opacity: 0.7;
  }
}

.TagHeader {
  color: var(--mainColor1);
  text-decoration: underline;
  margin: 20px 10px 0;
}

.SearchSection {
  width: 100%;
  height: 50px;
}

.SearchSection a {
  color: var(--mainColor1);
  border: 1px solid var(--mainColor1);
  padding: 5px;
  float: right;
  margin: 30px;
}
