.PostTemplate {
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;

  &:hover {
    border-radius: 20px;

    & h2 {
      color: var(--mainColor1);
    }
  }

  & h2 {
    color: var(--lightBlue);
    margin-bottom: 0;
  }

  & .Date {
    font-family: var(--sec-font);
    color: var(--mainColor1);
    opacity: 0.5;
    font-weight: 500;
  }

  & .Excerpt {
    line-height: 25px;
  }

  & p {
    color: var(--mainColor1);
  }
}

.TagsSection {
  display: flex;
  flex-wrap: wrap;

  & .Tag {
    border: 1px solid rgb(82, 80, 80);
    color: rgb(85, 84, 84);
    border-radius: 5px;
    padding: 5px;
    margin: 0 5px;
  }
}

.TagHeader {
  color: var(--mainColor1);
  text-decoration: underline;
  margin: 20px 10px 0;
}

.SearchSection {
  width: 100%;
  height: 50px;
}

.SearchSection a {
  color: var(--mainColor1);
  border: 1px solid var(--mainColor1);
  padding: 5px;
  float: right;
  margin: 30px;
}
