/* defaults */
:root {
    --maincolor: #13073e;
    --lightmaincolor: rgba(53, 62, 223, 0.27);
    --lightermaincolor: #acb0e5;
    --orange: rgb(255, 145, 0);
}
img {
    width: 100%;
    height: 100%;
}
ul {
    list-style: none;
}
.header {
    background-color: var(--maincolor);
    min-height: 90vh;
    padding: 0 40px;
    overflow: hidden;
    background: url("./bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-y: 0;
}
.header > nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    align-items: center;
}
.header > nav > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header ul li {
    display: inline-block;
    margin: 0 10px;
}
.header ul li a {
    color: white;
    display: block;
    padding: 5px 10px;
}
.header ul li a.register {
    background-color: var(--lightmaincolor);
    color: white;
    border-radius: 5px;
}
.header .logo {
    width: 100px;
}
.header .landing {
    display: flex;
    justify-content: space-around;
}
.header .landing .info > div {
    display: flex;
    align-items: center;
}
.header .landing .info .playstores {
    margin-left: 20px;
}
.header .landing .info .playstores img {
    height: 30px;
    width: auto;
    margin: 0 5px 0 0;
}
.header .landing > * {
    margin: 0 40px;
}
.header .landing .landingImage {
    max-width: 400px;
    max-height: 400px;
}
.header .landing .landingImage img {
    object-fit: contain;
}
.header .info {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: white;
    width: 40%;
}
.header .info > * {
    margin: 10px 0;
}
.header .info > p {
    font-size: 14px;
    color: var(--lightermaincolor);
}
.header .info > p:nth-child(1) {
    font-size: 23px;
    color: white;
}
.header .info > p span.big {
    font-weight: bold;
    font-size: 40px;
}

.main {
    width: 80vw;
    margin: 0 auto;
    padding: 0 30px;
}
.main h1 {
    color: var(--maincolor);
}
.summary {
    display: flex;
    color: var(--maincolor);
}
.summary > div {
    margin: 0 50px 0 0;
}
.summary > div .checked {
    width: 20px;
    height: 20px;
}
.summary > div > span {
    display: block;
    margin: 15px 0;
}
.summary > div > span:first-child {
    color: var(--orange);
}
.summary > div > p {
    color: black;
    font-size: 14px;
}

.detailsImg {
    display: flex;
    flex-direction: column;
}
.detailsImg > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.detailsImg > div > div {
    /* width: 50%; */
    margin: 70px;
}
.detailsImg > div > div.details {
    width: 100%;
}
.detailsImg > div > div.details .platforms {
    display: flex;
}
.detailsImg > div > div.details .platforms img {
    height: 15px;
    width: auto;
    margin: 0 15px 0 0;
}
.detailsImg > div > div.details h2 {
    color: var(--maincolor);
    font-size: 35px;
}
.detailsImg > div > div.details p {
    color: black;
    max-width: 350px;
}
.detailsImg > div > div.details p.big {
    font-size: 20px;
    color: var(--maincolor);
}
.detailsImg > div > div.img {
    width: 100%;
    height: auto;
}
