@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Zen+Antique+Soft&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap);

html.smoothScroll {
  scroll-behavior: smooth;
}

:root {
  --mainColor1: #130327;
  --midMainColor1: #280750;
  --mainColor2: #e7f6ba;
  --mainColor3: #c1d950;
  --mainColor4: #8be79f;
  --lightBlue: #319ac1;

  --main-font: "Zen Antique Soft", "Nunito", "Helvetica";
  --sec-font: "Poppins", "Helvetica";
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--mainColor1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--mainColor2);
  border-radius: 10px;
}

body {
  margin: 0;
  font-family: var(--sec-font);
  font-weight: 300;
  border: 10px solid var(--mainColor1);
  border-top: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font);
}

* {
  box-sizing: border-box;
  transition: 300ms;
  outline: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 40px;
  width: 100%;
}

    @media only screen and (max-width: 500px) {
    .container {
        padding: 20px;
    }
    }
