@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600;800&family=Albert+Sans:wght@300;400;500;800&display=swap");

html.smoothScroll {
  scroll-behavior: smooth;
}

:root {
  /* --mainColor1: #130327; */
  /* --midMainColor1: #130327; */
  /* --midMainColor2: #130327; */
  --mainColor2: #e7f6ba;
  --mainColor2: #65fcb0;
  --mainColor3: #c1d950;
  --mainColor4: #8be79f;
  --lightBlue: #319ac1;

  --bgColor: #403143;

  //   --mainColor1: rgb(61, 61, 61);
  //   --mainColor1: #1f0632;
  --mainColor1: color-mix(in srgb, var(--bgColor) 60%, black);
  //   --midMainColor1: rgb(101, 101, 101);
  //   --midMainColor1: #4b2965;
  --midMainColor1: color-mix(in srgb, var(--mainColor1) 90%, white);
  --midMainColor2: rgb(83, 83, 83);

  --secondary-color: #f0de14;
  --tertiary-color: #65fcb0;

  --javascript: #f7df1e;
  --javascriptMid: #faf1ad;

  --regex: #a7ff72;
  --regexMid: #c6faa5;

  --main-font: "Jost", "Zen Antique Soft", "Nunito", "Helvetica";
  --sec-font: "Albert Sans", "Inter", "Helvetica";
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #65fcb0;
  border-radius: 10px;
}

body {
  margin: 0;
  font-family: var(--sec-font);
  font-weight: 300;
  background-color: var(--mainColor1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font);
  letter-spacing: 0.5px;
}

img {
  display: block;
  width: 100%;
}

h1 {
  line-height: 1.5;
}

h2 {
  line-height: 1.5;
}

p {
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  transition: 300ms;
  outline: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 40px;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 20px;
  }
}

// .a-link {
//   --preColor: white;
//   position: relative;
//   color: var(--preColor);
//   transition: color 300ms;
//   --color: var(--mainColor2);

//   @media (max-width: 600px) {
//     color: var(--color);
//   }

//   &::after {
//     content: "";
//     position: absolute;
//     width: 40%;
//     height: 1px;
//     background-color: var(--color);
//     bottom: -3px;
//     left: 0;
//     transition: width 300ms;
//   }

//   &.inverse::after {
//     left: unset;
//     right: 0;
//   }

//   &:hover {
//     color: var(--color);
//     &::after {
//       width: 100%;
//     }
//   }
// }
