.Mainright {
    width: 80%;
    padding: 20px 50px;
    background-color: var(--mainColor2);
    text-align: left;
    min-height: 100vh;
    margin-left: 20%;

}

@media (max-width: 900px) {
    .Mainright {
      width: 100%;
      padding: 70px 30px 0;
      margin-left: 0;
    }
}