.SearchMain {
  max-width: 700px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  min-height: 400px;

  & h1 {
    font-size: 30px;
    color: white;

    @media (max-width: 500px) {
      font-size: 20px;
    }
  }
}

.Search {
  width: 100%;
  margin: 20px auto;

  & input {
    width: 100%;
    padding: 10px;
    font-family: var(--sec-font);
    border-radius: 5px;
    border: 1px solid var(--mainColor1);
  }
}

.ResultCount {
  color: white;
  font-size: 15px;
}
